#headerimg {
    width: 100%;
}
.button {
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 1px dotted #011309;
    border-radius: 20px;
    background-color: #951722;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button:hover{
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 1px dotted #011309;
    border-radius: 20px;
    background-color: #090914;
    transition: 0.5s;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: grey;
}
#wrapper {
    width: 100%;
}

.bg-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

input {
    text-align: center;
    height: 40px;
}

.buttontwo {
    padding: 20px;
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 1px dotted #011309;
    border-radius: 20px;
    background-color: #951722;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.close {
    font-size: 30px;
    font-weight: bolder;
    transform:rotate(45deg);
    position: absolute;
    top: 0;
    right: 14px;